localhost {
    handle_errors {
        respond "{http.error.status_code} {http.error.status_text}"
    }

    redir /adminer /adminer/ permanent
    route /adminer/* {
        uri strip_prefix /adminer/
        reverse_proxy * 172.18.0.1:1111
    }

    root * /app/public
    encode gzip
    php_fastcgi php1:9000
    file_server


    log {
        level debug
        output file /app/public/access.log
    }
}